---
import Admin from "../global/Admin.astro";

---
<section class="text-color-primario py-28" id="Admins">
    <h2 class="text-[4rem] font-bold text-center">Admins de la comunidad</h2>
    <article class="flex flex-col md:flex-row gap-20 flex-wrap justify-center py-16 md:py-28">
        <Admin name="Alexandro Mendez" imgSrc="images/Alexandro.webp" descripcion="Desarrollador Full Stack" link2="https://github.com/Alexandro521"/>
        <Admin name="</Jota⚡>" imgSrc="images/Jota.webp" descripcion="Desarrollador Full Stack" link2="https://github.com/Dsgnr-JM"/>
        <Admin name="Alex Quicaño" imgSrc="images/Alex.webp" descripcion="Desarrollador Frontend"/>
        <Admin name="It's Me" imgSrc="images/it.webp" descripcion="Desarrollador Full Stack" />
        <Admin name="Jeremias Castro" imgSrc="images/Jeremias.webp" descripcion="Desarrollador Frontend" link2="https://github.com/JeremiasCastroL"/>
        <Admin name="José De La Hoz" imgSrc="images/it.webp" descripcion="Desarrollador Full Stack" />
    </article>
</section>