---
import Admin from "../global/Admin.astro";

const ADMINS = [
    {
        name: 'Alexandro Mendez',
        descripcion: 'Desarrollador Full Stack',
        imgSrc: "images/Alexandro.webp",
        link2: "https://github.com/Alexandro521"
    },
    {
        name:"Jhoan Mejia",
        imgSrc:"images/Jota.webp",
        descripcion:"Desarrollador Full Stack",
        link2:"https://github.com/Dsgnr-JM"
    },
    {
        name:"Alex Quicaño",
        imgSrc:"images/Alex.webp",
        descripcion:"Desarrollador Frontend",
        link2:"https://github.com/Alequenmc"
    },
    {
        name:"Luis Medina",
        imgSrc:"images/it.webp",
        descripcion:"Desarrollador Frontend"
    },
    {
        name:"Jeremias Castro",
        imgSrc:"images/Jeremias.webp",
        descripcion:"Desarrollador Frontend",
        link2:"https://github.com/JeremiasCastroL"
    },
    {
        name:"José De La Hoz",
        imgSrc:"images/it.webp",
        descripcion:"Desarrollador Full Stack"
    }
];
---
<section class="text-color-primario py-10 flex flex-col items-center" id="Admins">
    <h2 class="text-[4rem] font-bold text-center">Admins de la comunidad</h2>
    <article class="flex flex-col md:flex-row gap-20 flex-wrap justify-center py-16 md:py-28">
        {ADMINS.map(({ name, imgSrc, descripcion, link2 }) => (
            <Admin name={name} imgSrc={imgSrc} descripcion={descripcion} link2={link2} />
        ))}
    </article>
</section>