---
import BotonIngresa from '../global/boton-ingresa.astro';
---
<section class="text-color-primario py-[35rem] flex gap-12 flex-col h-screen items-center justify-center
md:flex-row md:justify-between md:py-0 md:gap-20" id="Inicio">
    <div class="flex flex-col items-center md:items-start gap-10">
            <span class="text-[3.65rem] md:text-[4rem] font-bold leading-[1.1] text-center md:text-left inline-block">"Programar es más que escribir código"
            </span>
            <span class="leading-[1.6] text-3xl md:text-3xl inline-block text-center md:text-left ">Es colaborar en comunidad, donde un grupo de programadores se reúne para resolver desafíos y juntos construir el futuro.</span> 
            <BotonIngresa title="Ingresa a nuestra comunidad" link="https://chat.whatsapp.com/IRR8f9RrpT7CCS2QuwooFe"></BotonIngresa>
    </div>
    <img src="images/inicio-img.webp" class="h-[40rem] object-cover drop-shadow-custom2 transition duration-700" loading="eager">
</section>