<section class="md:h-screen flex items-center text-color-primario gap-36 md:gap-20 flex-col md:flex-row md:justify-between py-20" id="Nosotros">
    <img src="images/nosotros-img.webp" class="h-[44rem]  object-cover drop-shadow-custom2  transition duration-700 order-2 md:order-1" loading="lazy">
    <div class="flex flex-col gap-4 order-1 md:order-2">
        <span class="text-[1.7rem] text-[#aab6cd] leading-[0]">Acerca de</span>
        <h2 class="text-[4rem] font-bold leading-[1.3]  mt-5">¿Quiénes somos?</h2>
    <p class="text-[1.8rem] md:text-[1.6rem] leading-[1.5] md:leading-[1.3]  ">Somos una comunidad activa de programación creada hace más de 3 años. Aquí compartimos conocimientos y experiencias. Nos apoyamos mutuamente para crecer profesionalmente y mejorar nuestras habilidades.</p>
    </div>
</section>