---
const { title, link, Imgsrc } = Astro.props
---

    <a href={link} class="text-[1.5rem] bg-[#3908ff]  rounded-2xl  text-bold  px-4 py-[0.80rem] md:py-[0.60rem] shadow-[0_0_15px_1px_#3908ffa9] md:text-[1.2rem] transition hover:scale-105 duration-200 active:scale-105" target="_blank">
        {title}
        <img src={Imgsrc} class="h-7 inline-block ml-1 ">
        </a>
