---
const { title } = Astro.props
---
<a href="#" class="text-[1.5rem] bg-[#3908ff]  rounded-2xl  text-bold  px-4 py-2 backdrop-blur-[14rem] shadow-[0_0_15px_1px_#3908ffa9] md:text-[1.2rem] transition hover:duration-200 active:scale-105 active:shadow-[0_0_15px_1px_#3908ffa9] inline-block w-auto ">
{title}
</a>