<div class="fixed top-0 h-screen w-screen z-[-1] opacity-70">
    <img src="images/hero.webp" alt="" class="object-cover h-full w-full opacity-70">
</div>

<div class="fixed top-0 h-screen w-screen z-[-1] hidden md:block ">
    <img src="images/Hero-p-2.webp" alt="" class="object-cover h-full w-full ">
</div>
