<div class="fixed top-0 h-screen w-screen z-[-1]">
    <img src="images/hero-p.webp" alt="" class="object-cover h-full w-full " loading="eager">
</div>
<div class="fixed top-0 h-screen w-screen z-[-1]">
    <img src="Hero-p-2.webp" alt="" class="object-cover h-full w-full " loading="eager">
</div>
